.login{
    width: 100%;
    height: 100vh;
    background: var(--background-primary-color);

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color-secondary);
}


.login__section .login__logo span, .login__link{
   color: var(--background-primary-CTA);
}

