.createpost{
    width: 100%;
    margin: auto;
    border: 2px solid;
}

.createpost__top{
    
    width: 100%;
}

.createpost__bottom{
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 5fr;
    align-items: center;
}

.createpost__textarea{
    width: 100%;
    height: 8rem;
    resize: none;
}

.createpost__message{
    position: relative;
}

.createpost__avatar{
    width: 3rem;
    height: 3rem;
    outline: 2px solid;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    right: 10px;
}
