.button-primary{
    cursor: pointer;
    padding: 0.6rem 1rem;
    background: var(--background-primary-CTA);
   color: var(--background-primary-color);
   outline: none;
   border: none;
   border-radius: 0.3rem;
   font-weight: bold;
}