.button{
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.button-primary{
    background: var(--background-primary-CTA);
   color: var(--background-primary-color);
}

.button-secondary{
background: var(--background-secondary-CTA);
color: var(--background-primary-CTA);
}

.button-secondary:hover, .button-secondary:active{
    outline: 2px solid var(--background-primary-CTA);
    outline-offset: 2px;
}