.user{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    cursor: pointer;
    position: relative;
}

.user__style{
    border: 1.5px solid var(--background-secondary-CTA);
    border-radius: 0.5rem;
}

.user__style:hover{
    background: var(--background-secondary-CTA );
}


.user__editpost{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 0.5rem;
}
.user__date{
    display: flex;
    font-size: small;
}


.user__updatepost{
    width: 40%;
    position: fixed;
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    outline: 2px solid var(--background-secondary-CTA);
}

.user__updateContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    align-items: start;
}

.user__updateTextArea{
    width: 100%;
    height: 4rem;
    outline: none;
    border: none;
    resize: none;
}

.user__updateImage{
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: start;
    position: relative;
}


.user__updateImage button{
    position: absolute;
    right: 0;
    top: 0;
}

.user__updatemedia{
    width: 100%;
    border-radius: 0.5rem;
}


.user__updateBtns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__uploadUserMedia{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__uploadMedia{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.user__mediaFile{
    position: absolute;
    left: -100px;
    transform: scale(2);
    cursor: pointer;
    opacity: 0;
}