.user{
    width: 100%;
    border: 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

.user__date{
    display: flex;
    font-size: small;
}
