.bookmarks{
    width: 70%;
    margin: auto;
    height: 86vh;
    overflow-y: scroll;
}

.bookmarks h2{
    text-align: left;
    padding: 1.5rem 0;
}


.bookmarks__lists{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}