.likedposts{
    width: 70%;
    margin: auto;
    height: 86vh;
    overflow-y: scroll;
}

.likedposts h2{
    text-align: left;
    padding: 1.5rem 0;
    color: var(--background-primary-CTA);

}

.likedposts__lists{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}