.loginForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.loginForm__label{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.loginForm__users{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    max-height: 50vh;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
    outline: 2px solid rgba(20, 0, 39, 0.151);
}

.loginForm__avatar{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    outline: 2px solid;
    outline-offset: 2px;
}

.loginForm__user{
    width: 80%;
    margin: 0.5rem auto;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    align-items: center;
}