.editprofile{
    width: 25%;
    background: white;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    outline: 2px solid var(--background-secondary-CTA);
}

.editprofile > p {
    width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.editprofileForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.editprofileForm button{
    width: 100%;
}

.editprofileForm p{
    font-size: small;
    color: var(--background-primary-CTA);
    text-align: left;
    margin-top: 0.3rem;
}

.editprofileForm__label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.editprofileForm__noneditable{
    color: var(--background-primary-CTA);
}

.editprofileForm__label input{
    padding: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.editprofileForm__label > p{
    text-align: left;
}

.editprofileForm_label--imagelabel{
    position: relative;
}

.editprofileForm__avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}


.editprofileForm__uploadImge{
    position: relative;
}

.editprofileForm__upload{
    position: absolute;
    display: grid;
    place-content: center;
    overflow: hidden;
    right: -5px;
    bottom: -5px;
}

.editprofileForm__uploadicon{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    padding: 0.2rem;
    border-radius: 1rem;
    background: var(--background-primary-CTA);
}

.editprofileForm__fileinput{
    position: absolute;
    transform: scale(-10);
    opacity: 0;
    z-index: 1000;
    cursor: pointer;
}


.editprofileForm__submit{
    width: 100%;
    cursor: pointer;
}