.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    height: 13vh;
    background: white;
    border-bottom: 1.5px solid var(--background-secondary-color);

}

.header__avatar{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    outline: 1.5px solid;
    outline-offset: 0.2rem;

    object-fit: cover;
    
    display: grid;
    place-content: center;
    background-color: rgba(137, 43, 226, 0.37);
}

.header__user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.header__searchUsers{
    width: 25%;
    max-height: 80vh;
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
    outline: 3px solid rgba(0, 0, 0, 0.158);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
}

.header__search input{
    width: 350px;
    padding: 0.8rem 1.5rem;
    border: 1.5px solid rgba(0, 0, 0, 0.096);
    border-radius: 2rem;
    outline: none;
}

.header__search input:hover{
    outline: 2px solid rgba(0, 0, 0, 0.363);
}

.header__logo{
    font-size: 1.4rem;
}

.header__logo span{
    color: rgb(136, 72, 255);
    font-weight: bolder;
}