.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    height: 13vh;
    background: var(--background-primary-color);
    border-bottom: 2px solid var(--background-primary-CTA);

}

.header__avatar{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    outline: 1.5px solid;
    outline-offset: 0.2rem;

    object-fit: cover;
    
    display: grid;
    place-content: center;
    background-color: rgba(137, 43, 226, 0.37);
}

.header__user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.header__searchUsers{
    width: 25%;
    max-height: 80vh;
    background: var(--background-primary-color);
    padding: 1rem;
    border-radius: 0.5rem;
    outline: 2px solid var(--background-secondary-CTA);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.122);
}

.header__search input{
    width: 350px;
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    outline: 2px solid var(--background-primary-CTA);
    background: transparent;
    border: none;
}

.header__search input:hover{
    outline-offset: 2px;
}

.header__logo{
    font-size: 1.4rem;
}

.header__logo span{
    color: var(--background-primary-CTA) ;
    font-weight: bolder;
}

/* THEME */
.theme-options{
    position: fixed;
    top: 0%;
    left: 0%; 
    transform: translate(-0%, -0%);
    width: 100%;
    height: 100vh;
    background: var(--background-secondary-CTA);
    backdrop-filter: blur(10px);
    z-index: 1400;
}

.theme-div{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}


.theme-lists{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    gap: 2rem;
}

.theme-option{
    width : 100%;
    border-radius : 0.5rem;
}

.theme-option:active, .theme-option:hover{
    outline: 3px solid var(--background-primary-CTA);
    outline-offset: 3px;
}

.theme-header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}

.theme-option{
    width: 100%;
    display: grid;
    place-content: center;
    position: relative;
    cursor: pointer;
}

.theme-option img{
    width : 100%;
    height: 100%;
    border-radius : 0.5rem;
}

.active-theme{
    outline :4px solid white;
    outline-offset: 4px;
}
