.postdetails{
    width: 70%;
    margin: auto;
    height: 87vh;
    overflow-y: scroll;
    position: relative;
}

.postdetails__back{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--background-secondary-CTA);
}

.postdetails__comments{
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.postdetails__comment{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;

    align-items: start;
    border: 1.5px solid var(--background-secondary-CTA);
    padding: 1rem;
    border-radius: 0.5rem;
}

.postdetails__text{
    margin-top: 0.3rem;
    text-align: left;
}

.postdetails__likes{
    text-align: left;
    cursor: pointer;
}


.postdetails__top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.likedby{
    width: 30%;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1rem;
}

.likedBy__top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.likedBy__div{
    border: 2px solid white;
    background: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.5px 0.5px 0.5px black;
    border: 2px solid rgba(0, 0, 0, 0.192);
}

.likedby__section{
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
   /* margin: 0.8rem 0; */
   padding: 0.8rem;
    border-radius: 0.5rem;
}

.likedby__section:hover{
    background: rgba(0, 0, 0, 0.096);
}


/* comments */
.postdetailsCommentBox{
    width: 100%;
    border: 1.5px solid var(--background-secondary-CTA);
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    margin-top: 2rem;
}

.postdetailsCommentBox textarea{
    width: 100%;
    height: 100%;
    outline: none;
    resize: none;
    border: none;
    padding: 0.3rem;
}

.postdetailsCommentBox button{
    width: 100%;
    height: 100%;
    border: none;
}