.exploreposts{
    width: 70%;
    margin: auto;
    height: 86vh;
    overflow-y: scroll;
}

.exploreposts h2{
    text-align: left;
    padding: 1.5rem 0;
    color: var(--background-primary-CTA);

}

.exploreposts__lists{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.post{
    border: 2px solid var(--background-secondary-CTA);
   border-radius: 0.5rem;
}