.post{
    width: 100%;
    border: 2px solid;
}

.post__media{
    width: 85%;
    margin: auto;
    border-radius: 0.5rem;
    margin: 1.5rem 0;
}

.post__content{
    color: var(--text-color-primary);
    text-align: left;
}

.post__buttons{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: stretch;
    gap: 1rem;
}

.post__buttons > button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.post__content{
    padding: 1rem;
}
